

body {
    background-color: #DAF7F6;
    color: #3B3B3B;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
}

header {
    background-color: #FFFFFF;
    text-align: center;
}

h1 {
    display: inline-block;
    margin: 0;
    padding: 40px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px; 
    font-weight: bold;
    text-transform: uppercase;
    color: #F16059;

}
header img {
    margin-right: 16px;
}

main {
    width: 1000px;
    margin: 0 auto;

}

.card {
    margin: 25px 0;
    overflow: auto;
}

.image {
    width: 500px;
    height: 550px;
    float: left;
}

.recipe {
    float: left;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
    width: 500px;
    height: 550px;
}

#cookies .image {
    background-image: url('../img/gluten-free-sugar-cookies.jpg');
    background-size: cover;

}
#pesto .image {
    background-image: url('../img/nut-free-pesto.jpg');
    background-size: cover;
    
}
#salad .image {
    background-image: url('../img/watermelon-salad.jpg');
    background-size: cover;   
}

.recipe h2 {
    color: #F16059;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    line-height: 10px;
}

.time {
    margin-bottom: 10px;
    border: 1px solid darkgrey;
    overflow: auto;
    
}
.time div {
    float: left;
	padding-left: 6px;
	width: 33.3333%;
	box-sizing: border-box;
	text-transform: uppercase;
}

.time .cook {
    border-right: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
}


.time img {
    width: 15px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.time-details {
    display: inline-block;
}

.time strong {
    font-family: 'Montserrat', sans-serif;
}

.columns {
    overflow: auto;
}

.directions {
    float: left;
    width: 240px;
    padding-left: 0px;
    line-height: 22px;
}



.ingredients {
    float: left;
    width: 205px;
    margin-right: 15px;
    padding-left: 0px;
    line-height: 22px;
}

.ingredients li {
    list-style-type: square;
}


h3 {
    font-family: 'Montserrat', sans-serif;
    color: #F16059;
    text-transform: uppercase;
    padding: 5px 0px 5px 5px;
    border-top: 2px solid darkgrey;
    border-bottom: 2px solid darkgrey;
    font-size: 12px;
    font-weight: bold;
}